# Commented out for now due to a bug in the Nexus server.
#registry=http://cgbu-nexus-dev.us.oracle.com:8081/nexus/content/repositories/npmjs/
#proxy=http://www-proxy.us.oracle.com:80
#https-proxy=http://www-proxy.us.oracle.com:80>
#phantomjs_cdnurl=http://cgbu-nexus-dev.us.oracle.com:8081/nexus/content/repositories/phantomjs/
