<div class="oj-flex-bar">
    <div class="oj-flex-bar-start stat">
        <span data-bind="text: stat1">Rating</span>
    </div>
    <div class="oj-flex-bar-middle oj-sm-justify-content-center stat-title">
        <span data-bind="text: $props.name">Rating</span>
    </div>
    <div class="oj-flex-bar-end stat">
        <span data-bind="text: stat2">Rating</span>
    </div>
</div>
<div class="oj-flex">
    <div class="oj-flex-item">
        <svg data-bind="attr: {width: width, height: 40 }">
            <rect data-bind="attr: {x: team1X, width: team1Width }, style: {fill: $props.colour1}" y="0" height="10" />
            <rect data-bind="attr: {x: team2X, width: team2Width }, style: {fill: $props.colour2}" y="0" height="10" />
        </svg>
    </div>
</div>
