/*
    Document   : override
    Created on : <date>
    Author     : <author>
    Description:
        This is where any of your application specific styles should be included
*/

.panel {
  border: solid;
  background-color: white;
  border-width: 1px;
  border-radius: 10px;
  margin: 10px;
}

.ranking-table-data {
  text-align: center;
}

@media screen and (max-width: 415px) {
  .ranking-table-data {
    font-size: 1em;
  }
}

@media screen and (min-width: 416px) {
  .ranking-table-data {
    font-size: 1.25em;
  }
}

.ranking-table-heading {
  font-weight: bold;
  text-align: center;
  font-size: 1.25em;
}

.wins {
  background-color: #267db3;
  color: white;
}

.losses {
  background-color: #ed6647;
  color: white
}

.ties {
  background-color: #29ba1c;
  color: white;
}

.ringette-icon {}
