/*
    Document   : override
    Created on : <date>
    Author     : <author>
    Description:
        This is where any of your application specific styles should be included
*/

.panel {
  border: solid;
  background-color: white;
  border-width: 1px;
  border-radius: 10px;
  margin: 10px;
}
