<div id="masonry-layout" class="team-layout" data-bind="ojComponent: {component: 'ojMasonryLayout'}">
  <!--ko foreach: associations -->
  <div class="team-panel  oj-masonrylayout-tile-2x2 ">
    <div class="team-panel-header oj-flex-item">
      <span data-bind="text: _id"></span>
    </div>
    <div class="oj-flex-item">
      <span ></span>
      <div class="oj-flex oj-sm-flex-direction-column" data-bind="foreach: teams">
        <span><a class="team-panel-text oj-flex-item" data-bind="click: $parents[1].navigate, text: name"></a></span>
      </div>

    </div>

  </div>
  <!-- /ko -->
</div>
