@import "oj.utilities";

team-hero:not(.oj-complete) {
  visibility: hidden;
}

team-hero {
  .hero {
    border: solid;
    border-width: 1px;
    border-radius: 10px;
  }

  .hero-container {
    text-align: center;
    padding-bottom: 1em;
  }

  .hero-logo {
    text-align: center;
    padding-bottom: .25em;
  }

  .hero-stat-title {
    font-size: 2.0em;
  }

  .hero-stats {
    text-align: center;
    border: none;
    border-width: 1px;
    padding: 1em;
  }

  .hero-title {
    font-size: 4em;
    display: inline-block;
    line-height: 1em;
  }
}
